body,
button,
input,
select,
textarea {
    font-family: "Noto Serif KR", serif;
    // font-family: "MaruBuri", serif;
    // font-family: "Apple SD Gothic Neo", sans-serif;
    -webkit-font-smoothing: antialiased;
}

header,
nav,
main,
section,
article,
aside,
footer {
    display: block;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
div,
ul,
ol,
li,
input {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

button:focus,
textarea:focus {
    outline: 0;
}

input:focus,
textarea:focus {
    outline: 1px solid red;
}

.hide-text {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

body,
button,
input {
    font-size: 18px;
    line-height: 1.5;
}

body {
    // overflow-y: auto;
    width: 100%;
    max-width: 500px;
    margin: auto;
    cursor: default;
    -webkit-overflow-scrolling: touch;
    background-color: #ebe7e4;
}

button {
    cursor: pointer;
    border: 0 none;
    background-color: transparent;
}

.hide-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hide-text {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

// Easing
$zease: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transition: all 1.5s $zease;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}
